* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(114, 114, 111), rgb(238, 238, 240));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
    text-shadow: 4px 3px rgb(218, 107, 107);
}

#myText {
    padding: 20px 24px;
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    text-align: center;
    box-shadow: 5px 5px 4px 20px rgb(244, 240, 240);
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

button {
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(75, 74, 74);
    background-color: rgb(216, 215, 215);
    margin-top: 60px;
}

button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    box-shadow: 3px 3px 5px 2px grey;
    cursor: pointer;
}
#showResult{
    margin-top: 30px ;
    font-size: 1.4rem;
    color: rgb(4, 4, 4);
    font-weight: 600;
    padding: 10px 15px ;
}